body { margin: 0; padding: 0; line-height: 26px; font-family: 'Work Sans', sans-serif; }

ul { padding-left: 20px; margin: 0; list-style-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAhUlEQVQoU2NkIBIwwtTdNNn6H8RWP+ONVQwsCFIkl6sP1vNo8kWwYnQxsML/tjfApoHAjxQeBo45X+A0TByikPUkXCGI/61PgoGr6AWK6+Hu+aB0GEUxsiqBe7aMcIUgids6EA8hA9UrEM+hKAQJ7DWeD1fsfDYRLo+hEKYYWRFWE3GFPwB+pTOrwX4M1AAAAABJRU5ErkJggg=='); }

a { color: dodgerblue; text-decoration: none; border-bottom: 1px dotted rgba(30, 144, 255, 0.38823529411764707); }

.menu { padding: 15px; background-color: black; }
.menu a { color: white; text-decoration: none; text-transform: uppercase; border-bottom: 0; position: relative; margin-right: 10px; }
.menu a.active::after { content: ""; position: absolute; background-color: #1e90ff; top: 22px; height: 2px; width: 80%; left: 10%; }

.main { padding: 15px; }

input[type=text], select { padding: 5px; }

input + ul, select + #recursor { margin-top: 15px; }

h1 { margin: 10px 0; text-transform: lowercase; }
h3 { font-weight: normal; display: inline-block; box-shadow: inset 0 0 25px 5px #ddd; padding: 0px 5px; }

.red { color: red; }
.green { color: green; }

/*https://stephanwagner.me/only-css-loading-spinner*/
@keyframes spinner { to {transform: rotate(360deg);} }
.spinner:before { content: ''; box-sizing: border-box; position: absolute; top: 50%; left: 50%; width: 20px; height: 20px; margin-top: -10px; margin-left: -10px; border-radius: 50%; border: 2px solid #ccc; border-top-color: #333; animation: spinner .6s linear infinite; }