import title from '../_partials/title.html'

<template>
    <h1>Home</h1>
    ${title('Conditions')}

    <div id="number" class="${this.number%2 ? 'red' : 'green'}">
        ${this.number} is ${this.number%2 ? 'odd' : 'even'}</span>
    </div>

    <ul>
        <li>
            <a href="#" data-click="refresh" data-prevent>Refresh number</a>
        </li>
    </ul>

    ${title('Inline functions')}

    <ul>
        <li>
            <a href="#" data-click="function(vm, e) { this.innerHTML = 'Current number is ' + vm.number }" data-prevent>
                Function
            </a>
        </li>
        <li>
            <a href="#" data-click="vm => this.innerHTML = 'Current number is ' + vm.number" data-prevent>
                Arrow function
            </a>
        </li>
        <li>
            <a href="#" data-click="this.innerHTML = 'Current number is ' + $(this).closest('[data-view]').viewModel.number" data-prevent>
                Function body
            </a>
        </li>
    </ul>
</template>