import Title from '../_partials/title.html'

export default `
<h1>Home</h1>

${Title('If else-if else')}

<div class="{{ number%2==0 ? 'green' : 'red' }}">
    <span if="number %2 == 0">{{ number }} is an <b>even</b> number</span>
    <span else>{{ number }} is an <b>odd</b> number</span>
</div>

<a href="#" data-click="refreshNumber" data-prevent>Refresh number</a>

${Title('Inline functions')}

<ul>
    <li>
        <a href="#" data-click="function(vm, e) { this.innerHTML = 'The current number is ' + vm.number }" data-prevent>
            Function
        </a>
    </li>
    <li>
        <a href="#" data-click="vm => this.innerHTML = 'The current number is ' + vm.number" data-prevent>
            Arrow function
        </a>
    </li>
    <li>
        <a href="#" data-click="this.innerHTML = 'The current number is ' + $(this).closest('[data-view]').viewModel.number" data-prevent>
            Function body only
        </a>
    </li>
</ul>
`