.cooltip {
    z-index: 9999;
    background: #FFFFA3;
    border: 1px solid #F1D031;
    max-width: 200px;
    position: absolute;
    color: #666;
    -webkit-box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.15);
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.15);
    display: none;
}

.cooltip-body {
    padding: 6px 8px;
    background-color: inherit;
}

.cooltip-pin {
border: inherit;
    position: absolute;
    width: 10px;
    height: 10px;
    z-index: -1;
    background: inherit;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    bottom: 0;
    right: 50%;
    margin: 0 -6px -6px 0;
}

.cooltip-close {
    position: absolute;
    right: -1px;
    top: -1px;
    display: inline-block;
    width: 15px;
    height: 15px;
    background-color: #ffe982;
    border: 1px solid #bd9f10;
    cursor: pointer;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAIklEQVQYV2NkYGD4z8DAwMiAAP9hHJgEmEZRAdOBUyWGmQDMQQkE2zMHyQAAAABJRU5ErkJggg==);
    background-position: 6px 4px;
    background-repeat: no-repeat;
    border-bottom-left-radius: 15px;
}