body {
    font-family: monospace;
    font-size: 16px;
    line-height: 28px;
    margin: 0px;
    background: #2f2f2f;
    color: #fff;
}

a {color: #dddddd;font-size: 16px;text-decoration: none;border: 1px solid #dddddd;border-radius: 3px;padding: 3px 7px;}
a .fas {vertical-align: middle;font-size: 10px;margin-right: 2px;}
a:hover { color: #ffffff; }

button, select {
    border-radius: 2px;
    border: 1px solid #ddd;
    cursor: pointer;
    background: #2f2f2f;
    height: 27px;
    outline: none;
    color: #dddddd;
    font-family: monospace;
    font-size: 16px;
    line-height: 28px;
    padding: 3px 7px;
}

textarea + a {
    margin-left: 2px;
}

textarea {
    width: 430px;
    outline: none;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 2px;
    min-height: 15px;
    min-width: 200px;
    white-space: nowrap;
    vertical-align: top;
    height: 15px;
}

textarea#url {
    resize: horizontal;
    overflow: hidden;
}

[type=text] {
    font-family: monospace;
    width: 400px;
    outline: none;
    padding: 5px;
    border: 1px solid #eee;
    height: 15px;
    border-radius: 2px;
}

[type=checkbox] {
    vertical-align: middle !important;
}

[type=range] {
    width: 50px;
    vertical-align: middle !important;
}

label {
    cursor: pointer;
    margin: 0 15px;
}

.actions {
    background: #2f2f2f;
    padding: 20px;
}

.tree {
    margin: 20px;
    color: #118ac4;
    font-weight: bold;
    position: relative;
}

.tree ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.tree ul {
    display: none;
    margin-left: 4px;
    border-left: 1px dotted #777;
}

.tree .toggle {
    display: inline-block;
    cursor: pointer;
    width: 16px;
    height: 16px;
    position: absolute;
    left: -8px;
    top: 7px;
    z-index: 2;
    font-size: 16px;
    transition: all .3s;
    background: #2f2f2f;
    text-align: center;
    line-height: 17px;
    color: #666;
    border-radius: 50%;
}

.tree li {
    padding-left: 30px;
    position: relative;
}

.tree li.open > .toggle {
    transform: rotate(90deg);
}

.tree li > .toggle::before {
    content: "\f105";
}

.tree li.open > ul, .tree > ul {
    display: block;
}

.tree span {
    color: #977046;
    font-weight: normal;
}

.tree em {
    color: #777;
    font-weight: normal;
    font-style: normal;
}

.tree > ul::before {
    content: ' ';
    display: inline-block;
    width: 1px;
    height: 15px;
    left: 4px;
    top: 0px;
    position: absolute;
    border-left: 1px solid #2f2f2f;
}

.tree li::before {
    content: ' ';
    display: inline-block;
    width: 20px;
    height: 1px;
    left: 0;
    top: 14px;
    position: absolute;
    border-top: 1px dotted #777;
}

.tree li:last-child::after {
    content: ' ';
    display: inline-block;
    width: 2px;
    height: calc(100% - 15px);
    left: -1px;
    top: 15px;
    position: absolute;
    background: #2f2f2f; /*Must be same as container background*/
}
