body { font-family: monospace; font-size: 15px; line-height: 28px; margin: 0px; background: #e0e0e0; color: #fff; }
button, select { border-radius: 2px; border: 1px solid #eee; cursor: pointer; background: #ddd; height: 27px; outline:none; }
textarea { width: 430px; outline: none; padding: 5px; border: 1px solid #eee; height: 15px; border-radius: 2px; }
[type=text] { font-family: monospace; width: 400px; outline: none; padding: 5px; border: 1px solid #eee; height: 15px; border-radius: 2px; margin-right:15px; }
[type=checkbox] { vertical-align: middle !important; }
[type=range] { width: 50px; vertical-align: middle !important; }
label { cursor: pointer; margin: 0 15px; }
.actions { background: #2f2f2f; padding: 20px;}
.actions * { vertical-align: top; }

.tree {margin: 20px;color: #098fd0;font-weight: bold;}
.tree ul, li { list-style: none; margin: 0; padding: 0; }
.tree ul { display: none; margin-left: 4px; }
.tree li { padding-left: 20px; position: relative; }

.tree .toggle {
    display: inline-block;
    cursor: pointer;
    width: 11px;
    height: 11px;
    position: absolute;
    left: -9px;
    top: 6px;
    background: #e0e0e0;
    border: 3px solid #e0e0e0;
    z-index: 2;
    font-size: 12px;
    color: #b8b8b8;
    transition: all .4s;
}
.tree .toggle:hover {color: #474747;}
.tree li.open > .toggle {transform: rotate(-180deg);color: #474747;}

.tree li.open > ul, .tree > ul { display: block; }
.tree span { color: #a27565; font-weight: normal; }

ul { border-left: 1px dotted #848484; }
li::before { content: ' '; display: inline-block; width: 15px; height: 1px; left: 0; top: 14px; position: absolute; border-top: 1px dotted #9E9E9E; }
li:last-child::after { content: ' '; display: inline-block; width: 1px; height: calc(100% - 15px); left: -1px; top: 15px; position: absolute; border-left: 1px solid #e0e0e0; /*Must be same as container background*/ }