html, body {
    letter-spacing: 0.01em;
    margin: 0;
    height: 100%;
    overflow: hidden;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Roboto, sans-serif;
}

/*icon-js {
    top: 7px;
    width: 20px;
    height: 20px;
    border-radius: 3px;
    background: #000;
    display: inline-block;
    color: white;
    font-size: 11px;
    line-height: 26px;
}*/

#url {
    border-radius: 4px;
    padding: 7px 9px;
    border: 2px solid #dcdcdc;
    margin: 10px;
    display: block;
    outline: none;
    font-size: 17px;
    color: #222;
}

.actions {
    margin: 0 10px 10px 10px;
    display: flex;
}

.actions a {
    background: #ddd;
    color: #000;
    text-decoration: none;
    padding: 0 10px;
    border-radius: 4px;
    font-size: 15px;
    line-height: 32px;
 }

.actions > *:not(:first-child) {
    margin-left: 10px;
}

.tree {
    font-size: 16px;
    font-family: monospace;
    padding: 0 20px 20px 20px;
    font-weight: bold;
    position: relative;
    flex: 1;
    overflow-y: scroll;
    line-height: 1.8;
}

.tree ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.tree ul {
    display: none;
    margin-left: 4px;
}

.tree .toggle {
    display: inline-block;
    cursor: pointer;
    width: 16px;
    height: 16px;
    position: absolute;
    left: -10px;
    top: 4px;
    z-index: 2;
    transition: all .3s;
    text-align: center;
    line-height: 14px;
    font-weight: bold;
    font-size: 21px;
    font-style: unset;
    user-select: none;
    background: #e2e2e2;
    color: #aaa;
    border-radius: 30%;
    border: 2px solid #fff;
}

.tree li {
    padding-left: 30px;
    position: relative;
    cursor: default;
    border-left: 1px solid #ddd;
}

.tree li:last-child::after {
    content: ' ';
    display: inline-block;
    width: 0px;
    height: 15px;
    left: 0px;
    top: 0px;
    border-left: 1px solid #ddd;
    position: absolute;
}

.tree li:last-child {
    border-left: 0;
}

.tree li.open > .toggle {
    transform: rotate(90deg);
}

.tree li.open > ul, .tree > ul {
    display: block;
}

.tree span {
    color: #9e9e9e;
    font-weight: normal;
    cursor: text;
}

.tree em {
    font-weight: normal;
    font-style: normal;
}

.tree li::before {
    content: ' ';
    display: inline-block;
    width: 20px;
    height: 1px;
    left: 0;
    top: 14px;
    position: absolute;
    border-top: 1px solid #ddd;
}